<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.106.13" targetFramework="net45" />
  <package id="AWSSDK.Pinpoint" version="3.7.100.99" targetFramework="net48" />
  <package id="AWSSDK.S3" version="3.7.103.37" targetFramework="net45" />
  <package id="AWSSDK.SimpleEmail" version="3.7.100.106" targetFramework="net45" />
  <package id="Microsoft.Build.Framework" version="17.5.0" targetFramework="net481" />
  <package id="Microsoft.Build.Utilities.Core" version="17.5.0" targetFramework="net481" />
  <package id="Microsoft.IO.Redist" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.NET.StringTools" version="17.5.0" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="3.5.2145" targetFramework="net481" developmentDependency="true" />
  <package id="MimeKit" version="3.6.1" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net481" />
  <package id="System.Configuration.ConfigurationManager" version="7.0.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.Permissions" version="7.0.0" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net481" />
  <package id="UnmanagedExports.Repack" version="1.0.4" targetFramework="net46" />
</packages>